# Census Data

In [5]:
import pandas as pd

census = pd.read_csv("census_data.csv", header=1)

census_data = pd.DataFrame(census)
census_data = census_data[census_data.columns[range(67)]]

census_data

,Geog,GeogKey,Total Population,"Not Hispanic or Latino, White alone","Not Hispanic or Latino, Black or African American alone","Not Hispanic or Latino, American Indian and Alaska Native alone","Not Hispanic or Latino, Asian alone","Not Hispanic or Latino, Native Hawaiian and Other Pacific Islander alone","Not Hispanic or Latino, Some Other Race alone","Not Hispanic or Latino, Two or More Races",...,Median Age,Total Households,Average Household Size,Total Housing Units,Occupied Housing Units,Vacant Housing Units,Occupied Housing Units.1,Owned with a mortgage or a loan,Owned free and clear,Renter occupied
0,Rogers Park,1,54991,21618,14461,142,3523,39,202,1573,...,32.4,24292,2.13,27564,24292,3272,24292,6128,1009,17155
1,West Ridge,2,71942,30706,8015,189,16184,3,225,1919,...,35.1,24755,2.85,27466,24755,2711,24755,8829,3367,12559
2,Uptown,3,56362,29098,11275,191,6414,10,130,1235,...,35.5,29719,1.79,32541,29719,2822,29719,8298,1230,20191
3,Lincoln Square,4,39493,24916,1488,72,4399,11,128,917,...,33.5,18194,2.14,19906,18194,1712,18194,5482,1406,11306
4,North Center,5,31867,24634,738,55,1449,16,51,594,...,32.5,14561,2.18,16197,14561,1636,14561,5805,1147,7609
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72,Washington Heights,73,26493,121,25793,36,12,4,18,251,...,41.2,9482,2.77,10365,9482,883,9482,4626,1921,2935
73,Mount Greenwood,74,19093,16413,987,34,126,3,6,142,...,36.1,6990,2.63,7374,6990,384,6990,4440,1555,995
74,Morgan Park,75,22544,6473,15039,11,92,8,24,278,...,40.5,8187,2.70,8958,8187,771,8187,4400,1534,2253
75,O'Hare,76,12756,9845,403,15,1058,2,24,197,...,36.6,6127,2.08,6677,6127,550,6127,1843,881,3403
76,Edgewater,77,56521,30889,8104,98,6582,13,140,1377,...,36.6,29516,1.82,32889,29516,3373,29516,8348,2505,18663